<!doctype html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>RHalls - Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico?v=2" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="favicon-64x64.png" sizes="64x64" />
    <link rel="icon" type="image/png" href="favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-24x24.png" sizes="24x24" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="favicon-128x128.png" sizes="128x128" />

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="bower_components/basscss/css/basscss.css"/>
    <link rel="stylesheet" href="bower_components/animate.css/animate.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="bower_components/angucomplete/angucomplete.css" />
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.css"/>
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.css"/>
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-plain.css"/>
    <link rel="stylesheet" href="styles/scss/main.css"/>
    <link rel="stylesheet" type="text/css" href="styles/style1.css" />
    <!-- endbuild -->
  </head>
  <body ng-app="RHalls" ng-cloak>
    <header ng-controller="NavCtrl" class="">
        <nav class="flex flex-stretch z1 white fixed top-0 full-width navbar" style="z-index:1000;vertical-align:middle;">
            <div class="px2 py1" style="margin-left: 10%;padding-top:0.75rem;margin-top:-5px;">
                <a class="navbar-brand">RHalls β</a>
            </div>
            <div class="px2 " style="">
                <div class="inline-block center py1 h100" style="padding-bottom: 0.75rem" ng-repeat = "l in navlinks" ui-sref-active="active" ui-sref="{{l.uisr}}">
                    <a ng-href="{{l.nghr}}"  class="col-2 m2 center">{{l.text}}</a>
                </div>
            </div>
            <div class="flex-auto"></div>
            <div class="px2 py1" style="margin-right: 10%;padding-top:0.5rem" ng-if="!logged_in()">
                <a ng-click="open_login()" class="white mr2 auth"><i class="fa fa-unlock-alt"></i> Log in</a>
                <a class="white auth p1 rounded"><i class="fa fa-pencil"></i> Sign up</a>
            </div>
            <div class="px2" style="margin-right: 10%;padding-bottom: 1rem" ng-if="logged_in()">
                <span ng-bind="get_username()"></span>
                    <a href="#" ng-click="logout()">Log out</a>
            </div>
        </nav>
    </header>

    <div class="container width-80" ui-view></div>

    <!-- Libraries -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>

    <!-- build:js scripts/modules.js -->
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.tpl.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angucomplete/angucomplete.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/directives/csvg.js"></script>
    <script src="scripts/services/hall.js"></script>
    <script src="scripts/services/auth.js"></script>
    <script src="scripts/services/session.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/todo.js"></script>
    <script src="scripts/controllers/search.js"></script>
    <script src="scripts/controllers/test.js"></script>
    <script src="scripts/controllers/notFound.js"></script>
    <script src="scripts/controllers/auth.js"></script>
    <script src="scripts/controllers/nav.js"></script>
    <script src="scripts/modernizr.custom.js"></script>
    <!-- endbuild -->
  </body>
</html>
