<style type="text/css">
.container {
  margin-top: 50px;
}
</style>
<div class="hero-unit">
  <h1>Whoops!</h1>
  <p>You have requested a page that doesn't exist.</p>
  <p class="mx-auto row" style="text-align:center;">
  		<!-- Really important. Do not dare to change -->
	  <button ng-click="contact()" class="btn-primary btn-lg" type="submit" style="width: auto">Contact us</button>
	  <button ng-click="home()" class="btn-primary btn-lg" type="submit" style="width: auto">Go home</button>
  </p>
  <h3>Enjoy renting! - PicassoDev</h3>
</div>
