<vspace height="70px"/>
<h1>Our team</h1>

<div class="row mx-auto" style="width:80%">
    <div class="col-md-4">
        <div class="mx-auto">
            <img src="http://res.cloudinary.com/mnxoid-inc/image/upload/c_crop,h_426,w_426/v1429979802/undefined_tekcnt.png" class="circular mx-auto" alt="">
        </div>
        <p style="text-align: center">Petro</p>
        <p style="text-align: center">P.M.</p>
    </div>
    <div class="col-md-4">
        <div class="mx-auto">
            <img src="http://cs620929.vk.me/v620929350/4acf/0rcxiCCJTT0.jpg" class="circular mx-auto" alt="">
        </div>
        <p style="text-align: center">Michael</p>
        <p style="text-align: center">Stuff</p>
    </div>
    <div class="col-md-4">
        <div class="mx-auto">
            <img src="https://pp.vk.me/c625616/v625616915/1cafd/1hiYliybU0g.jpg" class="circular mx-auto" alt="">
        </div>
        <p style="text-align: center">Danylo</p>
        <p style="text-align: center">Stuff</p>
    </div>
</div>


<p style="margin-top: 2em"> If you have any questions don't hesitate to ask us: blabla@bla.com</p>