<div class="mx-auto" style="width:60%;">
    <form ng-submit="login()">

        <div class="form-group">
            <label for=""> Email</label>
            <input type="text" type="email" class="form-control" ng-model="credentials.email"/>
        </div>

        <div class="form-group">
            <label for="">Password</label>
            <input type="text" type="password" class="form-control" ng-model="credentials.password"/>
        </div>

        <button class="btn btn-default">Log in</button>
    </form>

</div>
