<div class="mx-auto" style="width:30%;">
    <form name="logInForm" ng-submit="login()" novalidate>

        <!-- flash message from the server -->
        <p ng-class="{'show-notification': login_info}" ng-show="login_info">
            {{login_info}}
        </p>
        <!-- /end -->

        <div class="form-group" ng-class="">
            <label> Email</label>
            <input type="text" style="outline:none;border:1px solid #67c3af;border-radius: 3px; background-color: transparent;" type="email" name="email" class="form-control" ng-change="clear_info()" ng-model="credentials.email" ng-minlength="3" required />
            <!-- validation info messages -->
            <p ng-show="(logInForm.email.$invalid && !logInForm.email.$pristine)" style="margin-top: 1em;padding:0.2em;" class="alert alert-danger">You valid email is required.</p>
            <!--<p ng-show="logInForm.email.$error.minlength" class="alert alert-danger">Email is too short.</p>-->
            <!-- validation messages end -->
        </div>

        <div class="form-group" ng-class="">
            <label>Password</label>
            <input type="password" style="outline:none;border:1px solid #67c3af;border-radius: 3px; background-color: transparent;" name="password" type="password" class="form-control" ng-change="clear_info()" ng-model="credentials.password" />
        </div>

        <button class="btn btn-default" ng-disabled="logInForm.$invalid">Log in</button>
    </form>

</div>
