<div class="mx-auto"  style="position:absolute;width:100%;margin:0px;left:0px;top:0px">
  <carousel interval="myInterval">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.image}}" class="img-responsive" >
        <div class="carousel-caption">
          <h4>Slide {{$index+1}}</h4>
        </div>
      </slide>
    </carousel>
  </div>

  <div class="row mx-auto" style="margin-top: 30%;width:80%">

    <div class="col-md-4">
      <div class="mx-auto" csvg src="icons/buildings-2.svg" style="height:100px;width:100px;"></div>
      <!-- <img class="mx-auto" style="height:100px;width:100px;" src="fonts/svg/HOME.svg" /> -->
      <p class="txtblock">We <strong>help rent</strong> a place for an event.</p>
    </div>
    <div class="col-md-4">
      <div class="mx-auto" csvg src="icons/checklist.svg" style="height:100px;width:100px;"></div>
      <!-- <img class="mx-auto" style="height:100px;width:100px;" src="fonts/svg/MAGNET.svg" /> -->
      <p class="txtblock">You can get the needed info as fast as possible, without googling, because this is the place where all the relevant <strong>data is gathered.</strong></p>
    </div>
    <div class="col-md-4">
      <div class="mx-auto" csvg src="icons/check.svg" style="height:100px;width:100px;"></div>
      <!-- <img class="mx-auto" style="height:100px;width:100px;" src="fonts/svg/MAGNIFYING GLASS.svg" /> -->
      <p class="txtblock">We'll <strong>find a perfect match</strong> for all your needs and requests</p>
    </div>

  </div>

  <a ng-href="/#/search" class="mx-auto btn-primary btn-lg" style="text-decoration:none;display:inline-block;">Get Started</a>
</div>
