<link rel="stylesheet" href="styles/scss/set2.css">
            <button id="menu-toggle" class="menu-toggle"><span>Menu</span></button>
            <div id="theSidebar" class="sidebar fixed py2 px1 left-0 top-0" style="top: 53px;">
                <h1>Search</h1>
                <form>
                    <div class="form-group">
                        <label>Country</label>
                        <input type="text" class="form-control" placeholder="" ng-model="fil.country" ng-model-options="{ debounce: 200 }" ng-change="getCities(fil.country)">
                    </div>

                    <div class="form-group">
                        <label>City</label>
                        <select class="form-control" ng-model="fil.city" >
                            <option ng-repeat="city in cities">{{city}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Type</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Capacity</label>
                        <input type="text" class="form-control" placeholder="" ng-model="fil.capacity">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="text" class="form-control" placeholder="" ng-model="fil.price">
                    </div>
                    <button type="submit" class="btn btn-default" style="display:inline-block">Search</button>
                    <button type="reset" ng-click="" class="btn btn-default" style="display:inline-block">Clear</button>
                </form>
            </div>
            <div id="theGrid" class="main relative">
                <section class="grid relative">
                    <header class="top-bar bg-white p2 flex full-width">
                        <h2 class="top-bar__headline">Latest articles</h2>
                    </header>
                    <a ui-sref=".hall({hall_id: {{g.id}}})" ng-repeat="g in gItems" class="grid__item relative bg-white text-center p2">
                        <h2 class="title title--preview">{{g.title}}</h2>
                        <div class="loader"></div>
                        <span class="category">{{g.category}}</span>
                        <div class="meta meta--preview">
                            <img class="meta__avatar" ng-src="img/authors/{{g.id}}.png" alt="author0{{g.id}}" />
                            <span class="meta__date"><i class="fa fa-calendar-o"></i>{{g.date}}</span>
                            <span class="meta__reading-time"><i class="fa fa-clock-o"></i>{{g.read}}</span>
                        </div>
                    </a>
                    <footer class="page-meta">
                        <span>Load more...</span>
                    </footer>
                </section>

                 <div ui-view></div>
            </div>
<script src="scripts/classie.js"></script>
<script src="scripts/main.js"></script>
