<style type="text/css">
.container {
  margin-top: 60px;
}
</style>
<div class="jumbotron">
	<!-- <div class="jumbotron text-center"> -->
            <center><h1>I'm a Todo-aholic <span class="label label-info">{{ todos.length }}</span></h1></center>
</div>

        <!-- TODO LIST -->
        <div id="todo-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <!-- LOOP OVER THE TODOS IN $scope.todos -->
                <div class="checkbox" ng-repeat="todo in todos">
                    <label>
                        <input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text }}
                    </label>
                </div>

            </div>
        </div>

        <!-- FORM TO CREATE TODOS -->
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.text">
                    </div>

                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
                </form>
            </div>
        </div>
  <!-- <h1>Our ToDo's:</h1>
  <p>You now have to complete the following tasks:</p>
  <ul>
      <li ng-repeat="task in tasks">
      	<p>{{task}}&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox"></input></p>
      </li>
  </ul>
  <h3>Enjoy coding! - Yeoman</h3> -->
<!-- </div> -->

<!-- <div class="container"> -->
  <h2>Sir, do you wanna add some halls?</h2>
  <span>Currently we have: </span>
  <span style="background-color:#cd5c5c;color:#fff;padding: 0.25em; border-radius:3px;">{{halls.length}}</span>

  <div class="checkbox" ng-repeat="hall in halls">
      <label>
          <input type="checkbox" ng-click="deleteHall(hall._id)"> {{ hall.name +  hall.location + hall.capacity + hall.price }}
      </label>
  </div>

  <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Name" ng-model="formDataHall.name">
        <input type="text" class="form-control" placeholder="Location" ng-model="formDataHall.location">
        <input type="text" class="form-control" placeholder="Capacity" ng-model="formDataHall.capacity">
        <input type="text" class="form-control" placeholder="Price" ng-model="formDataHall.price">
      </div>

      <!-- createToDo() WILL CREATE NEW TODOS -->
      <button type="submit" class="btn btn-primary btn-lg" ng-click="createHall()">Add</button>
  </form>


<!-- </div> -->
