@import "_variables";

.navbar{
  background: rgba(0,0,0,0.7);
}

nav > div > div > a {
    cursor: pointer;
    color: #fff;
    font-family: 'ProximaNova Light';
    font-size: 0.75em;
    &:hover {
        text-decoration: none;
    }
}

nav > div > a {
    cursor: pointer;
    color: #fff;
    font-family: 'ProximaNova Light';
    font-size: 0.75em;
    &:hover {
        text-decoration: none;
    }
}


 .navbar-brand {
  cursor: default;
  font-family: 'ProximaNova';
  font-size:  1.3em;
  font-weight: 700;
  color: #fff;
  &:hover {
      text-decoration: none;
  }
  &:focus {
    color: #fff;
  }
}


/* Active nav link */
// nav > div > div > a.active:not(.auth) {
//     color: $orange;
//     padding-bottom: 0.77em;
//     border-bottom: 4px solid $orange;
//     &:hover {
//         color: $orange;
//         padding-bottom: 0.77em;
//         border-bottom: 4px solid lighten($orange, 15%);
//     }
// }

nav > div > div:not(.navbar-brand):not(.auth) {
  border-bottom: 4px solid rgba(0,0,0,0);
  &:hover {
    color: #fff;
    // padding-bottom: 0.77em;
    border-bottom: 4px solid lighten($orange, 15%);
  }
}

nav > div > div.active:not(.auth) {
    & > a {color: $orange;}
    // padding-bottom: 0.77em;
    border-bottom: 4px solid $orange;
    &:hover {
        color: $orange;
        // padding-bottom: 0.77em;
        border-bottom: 4px solid lighten($orange, 15%);
    }
}

/* Nav link */
// nav > div > div > a:not(.navbar-brand):not(.auth) {
//   border: none;
//   &:hover {
//     color: #fff;
//     padding-bottom: 0.77em;
//     border-bottom: 4px solid lighten($orange, 15%);
//   }
// }

a.auth:last-child {
    background-color: $orange;
}

