.navbar{
  background: rgba(0,0,0,0.7);
}

nav > div  > a {
    color: #fff;
    font-family: 'ProximaNova Light';
    font-size: 0.75em;
    &:hover {
        text-decoration: none;
    }
}


 .navbar-brand {
  font-family: 'ProximaNova';
  font-size:  1.3em;
  font-weight: 700;
  color: #fff;
  &:hover {
      text-decoration: none;
  }
  &:focus {
    color: #fff;
  }
}


/* Active nav link */
nav > div > a.active {
    color: $orange;
    padding-bottom: 0.77em;
    border-bottom: 3px solid $orange;
    &:hover {
        color: $orange;
        padding-bottom: 0.77em;
        border-bottom: 3px solid lighten($orange, 15%);
    }
}

/* Nav link */
nav > div > a {
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0);
  &:hover {
    color: #fff;
    padding-bottom: 0.77em;
    border-bottom: 3px solid lighten($orange, 15%);
  }
}
