.navbar{
  width: $navbar-width;
  border-radius: 0px;
  border: 0px;
/*  background-color: lighten(#f8f8f8, 50%);*/
  background: rgba(0,0,0,0);
  background-color: none;
}


.navbar-default .navbar-nav>li>a {
  font-family: 'ProximaNova Light';
  font-size: $font-size-nav;
  color: #fff;
}

.navbar-brand {
  font-size: $font-size-big;
  font-weight: 700;
  color: #fff;
}
.navbar-default .navbar-brand {
  color: #fff;
}


/* Active nav link */
body .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a {
  /*background-color: $orange;/*/
  background-color: inherit;
  border-bottom: 5px solid $orange;
  //color: $font-color-primary;
  color: #fff;
  span {
    color: $orange;
  }
  span:hover {

  }

  &:hover {
    background-color: inherit;
  }
  // &:hover {
  //   background-color: lighten($orange, 10%);
  //   color: #fff;
  // }

}

/* Nav link */
body .navbar-default .navbar-nav>li>a {
  border: none;
  border-bottom: 5px solid rgba(0,0,0,0);
  &:hover {
    border-bottom: 5px solid lighten($orange, 15%);
  }
  // &:hover {
  //   color: lighten($font-color-primary, 10%);
  //   background-color: lighten($orange, 25%);
  //   border-bottom: 5px solid lighten($orange, 15%);
  // }
}

body .navbar-right>li:last-child>a{
  color: $orange;
  &:hover {
    color: $orange;
  }

}
