/* card */

.grid{
  border: 1px dashed #fafafa;
  padding: 20px 20px 100px 20px;
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center;

}

.grid li{
  display: inline-block;
  width: 400px;
  margin: 0;
  padding: 20px;
  //border: 1px solid;
  text-align: left;
  position: relative;
}

.grid figure{
  margin: 0;
  position: relative;
}

.grid figure img{
  max-width: 100%;
  display: block;
  position:relative;
}

.grid figcaption{
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #2c3f52;
  color: #ed4e6e;
}

.grid figcaption h3{
  margin: 0;
  padding: 0;
  color: #fff;
}

.grid figcaption span:before{
  content: 'Detail: ';
}

.grid figcaption a{
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #ed4e6e;
  color: #fff;
}



/* Style -3 */
.cs-style-3 figure{
  overflow:hidden;
}

.cs-style-3 figure img{
    transition: transform 0.4s;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure:hover img{
  transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
}


.cs-style-3 figcaption{
  height: 75%;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
  transition: transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure:hover figcaption{
  opacity: 1;
  transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}


.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

@media screen and (max-width: 31.5em){
  .grid{
    padding: 10px 10px 100px 10px;
  }
  .grid li, #navi{
    width: 100%;
    min-width: 300px;
  }

}
