/* Fonts */
@font-face {
  font-family: ProximaNova;
  src: url('../../fonts/Proxima Nova R.otf');
}

@font-face {
  font-family: 'ProximaNova Light';
  src: url('../../fonts/Proxima Nova L.otf');
}

@font-face {
    font-family: 'ProximaNova Bold';
    src: url('../../fonts/Proxima Nova Bold.otf');
}

@font-face {
    font-family: 'ProximaNova Black';
    src: url('../../fonts/Proxima Nova Black.otf')
}

$font-stack:  Lato, ProximaNova, sans-serif;

/* Font Colors */
$font-color-primary: #777;

/* Font sizes */
$font-size-reg: 1.5em;
$font-size-nav: 1.2em;
$font-size-big: 1.65em;

/* Colors */
$grey-primary: #f8f8f8;
$grey-secondary: #fff;
$orange: rgb(242, 120, 75); // Crusta
$orange-bright: rgb(248, 148, 6); // California
$orange-secondary: rgb(235, 151, 78); // Jaffa
$green: rgb(38, 194, 129); // jungle green
$green-secondary: rgb(0, 177, 106); // Jade
$green-alt: rgb(3, 166, 120); // Free speech aquamarine
$grey: rgb(210, 215, 211);

/* Sizing */
$navbar_width: 80%;
$jumbo_width: 80%;
$main_width: 80%;
$sidebar_width: 30%;
