/* Fonts */
@font-face {
  font-family: ProximaNova;
  src: url('../../fonts/Proxima Nova R.otf');
}

@font-face {
  font-family: 'ProximaNova Light';
  src: url('../../fonts/Proxima Nova L.otf');
}

@font-face {
  font-family: RalewayR;
  src: url('../../fonts/Raleway-Regular.ttf');
}
$font-stack:    ProximaNova, RalewayR, sans-serif;

/* Font Colors */
$font-color-primary: #777;

/* Font sizes */
$font-size-reg: 1.5em;
$font-size-nav: 1.2em;
$font-size-big: 2em;

/* Colors */
$grey-primary: #f8f8f8;;
$grey-secondary: #fff;
$orange: #f9a251;


/* Sizing */
$navbar_width: 80%;
$jumbo_width: 80%;
$main_width: 80%;
$sidebar_width: 30%;
