/* Fonts */
@font-face {
  font-family: ProximaNova;
  src: url('../../fonts/proximanova-regular.otf');
}
$font-stack:    ProximaNova, sans-serif;

/* Font Colors */
$font-color-primary: #333;

/* Font sizes */
$font-size-reg: 1.5em;
$font-size-nav: 1.75em;
$font-size-big: 2em;

/* Colors */
$grey-primary: #fff;
$grey-secondary: #fff;
$orange: #ff9856;


/* Sizing */
$navbar_width: 80%;
$jumbo_width: 75%;
$main_width: 75%;
$sidebar_width: 30%;
