@import "_variables";
@import "_mixins";

body {
  font: $font-size-reg $font-stack;
  color: $font-color-primary;
  //overflow-y: hidden;
  height:100%;
}

.mx-auto {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mx-auto-noblock {
  margin-left: auto;
  margin-right: auto;
}

.navbar{
  width: $navbar-width;
  border-radius: 0px;
  background-color: lighten(#f8f8f8, 50%);
}

.navbar-nav > ul > li {
  font-size: $font-size-nav;
}

.navbar-brand {
  font-size: $font-size-big;
  font-weight: 700;
}


/* Active nav link */
body .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a {
  /*background-color: $orange;/*/
  background-color: inherit;
  border-bottom: 5px solid $orange;
  //color: $font-color-primary;
  span {
    color: $orange;
  }
  span:hover {

  }

  &:hover {
    background-color: inherit;
  }
  // &:hover {
  //   background-color: lighten($orange, 10%);
  //   color: #fff;
  // }

}

/* Nav link */
body .navbar-default .navbar-nav>li>a {
  &:hover {
    border-bottom: 5px solid lighten($orange, 15%);
  }
  // &:hover {
  //   color: lighten($font-color-primary, 10%);
  //   background-color: lighten($orange, 25%);
  //   border-bottom: 5px solid lighten($orange, 15%);
  // }
}

body .navbar-right>li:last-child>a{
  color: $orange;
  &:hover {
    color: $orange;
  }

}


.container {
  /*background-color: #fff;*/
  width: $jumbo-width;
  padding: 0;
  margin-bottom: 2em;
}

.row {
  width: 100%;//$main_width;
  text-align: justify;
  &:first-child {
    margin-left: 0px;
    padding-left: 0px;
  }
  &:last-child {
    margin-right: 0px;
    padding-right: 0px;
  }
}


.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary, .open>.dropdown-toggle.btn-primary {
  margin-top: 2em;
  border: 2px solid $orange;
  background-color: #fff;
  color: $orange;
  &:hover {
    background-color: $orange;
    border: 2px solid #fff;
    color: #fff;
  }
}

/* slider */
#slides_control > div{
  height: 200px;
}
img{
  margin:auto;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
  margin-left:-200px;
}

p > button {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
  width: 50%;
}

.sidebar {
  background-color: $grey-primary;
  h1 {
    font-weight: 700;
    margin-bottom: 1em;
  }
}

.txtblock {
  font-size:1.15em;
  font-family:RalewayR;
  text-align:center;
}

.footer {
  background-color: darken(#fff,60%);
}
