/* Basscss import
@import "bower_components/basscss/scss/_base-buttons.scss";
@import "bower_components/basscss/scss/base-forms";
@import "bower_components/basscss/scss/base-reset";
@import "bower_components/basscss/scss/base-typography";
@import "bower_components/basscss/scss/defaults";
@import "bower_components/basscss/scss/flex-object";
@import "bower_components/basscss/scss/positions";
@import "bower_components/basscss/scss/utility-headings";
@import "bower_components/basscss/scss/utility-layout";
@import "bower_components/basscss/scss/ui-utility-groups";
@import "bower_components/basscss/scss/ui-utility-button-sizes";
@import "bower_components/basscss/scss/utility-responsive-states";
@import "bower_components/basscss/scss/utility-white-space";
@import "bower_components/basscss/scss/utility-typography";
*/
/* local import */
@import "_variables";
@import "_helpers";
@import "_mixins";
@import "_preview";
@import "_navbar";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);


*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
  font: $font-size-reg 'Lato';
  color: $font-color-primary;
  height: 100%;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
}

.h1, .h2, .h3, .h4, .h5, .h6,
 h1, h2, h3, h4, h5 , h6, {
    font-family: "ProximaNova Bold";
}

::selection {
    background:lighten($orange-secondary, 20%);
}

.resize {
    height: 100px;
    width: 100px;
}

.angucomplete-dropdown {
  width: 100%;
}

@include previews(200px,75%);

.btn-custom.active, .btn-custom.focus, .btn-custom, .open>.dropdown-toggle.btn-custom {
  //font-family: 'ProximaNova Light';
  border: none;
  background-color: #fff;
  color: $orange;
  text-decoration: none;
  &:hover, &:focus, &:active {
    background-color: $orange;
    border: none;
    outline: none;
    box-shadow: none;
    color: #fff;
    text-decoration: none;
  }
}

.btn-primary {
    background-color: $green;
    color: #fff;
    border: none;
}

.btn-primary:disabled {
    background-color: lighten($green, 20%);
    color: #fafafa;
}

.btn-primary:hover {
    background-color: darken($green, 10%);
}

.form-auth-custom {
    outline:none;
    border:none;
    border-bottom: 2px solid rgb(210, 215, 211);
    background-color: transparent;
}

form {
    label {
        font-family: Lato, sans-serif;
    }
}

input[type='text'] {
  border: none;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

}
input[type='text'].input-lg {
    width: 100%;
}

p > button {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
  width: 50%;
}

.sidebar {
  background-color: $grey-primary;
  h1 {
    font-weight: 700;
    margin-bottom: 1em;
  }
}

.txtblock {
  font-size: 0.75em;
  font-weight: 300;
  text-align: left;
  margin-top: 0.5em;
}

.hoverzoom, .col-md-4 {
    -webkit-user-select: none;
    cursor: default;
    transition: 0.33s ease-in-out;
}

.hoverzoom:hover, .col-md-4:hover {
   transform: scale(1.1,1.1);
}

.circular {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.show-notification {
    border-radius: 0.33em;
    padding: 1em;
    background-color: #c12e2a;
    color: #fff;
    -webkit-animation-name: thumb;
    -webkit-animation-duration: 200ms;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes thumb {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(0.95); }
    100% { -webkit-transform: scale(1); }
}

input.form-control {
    box-shadow: none;
}

.form-control:focus{
    border: none;
    box-shadow: none;
}

section.module:last-child {
    margin-bottom: 0;
}
section.module h2 {
    margin-bottom: 40px;
}
section.module p:not(.h1) {
    margin-bottom: 40px;
}
section.module p:last-child {
    margin-bottom: 0;
}
section.module.content {
    padding: 40px 0;
}
section.module.parallax {
    height: 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
section.module.parallax h1 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    //text-transform: uppercase;
}
section.module.parallax-1 {
    background-image: url("http://skillcrush.com/wp-content/uploads/2014/07/coworking-space.jpg"); //http://www.abouttoblow.com/wp-content/uploads/blog-1.jpg
}

section.module.parallax-2 {
    //height: 300px;
    background-image: url("http://media.tumblr.com/tumblr_mddrbbNjkm1rza399.jpg");
}
/*
section.module.parallax-3 {
    background-image: url("../img/demo/_small/3.jpg");
}
@media all and (min-width: 600px) {
    section.module h2 {
        font-size: 42px;
    }
    section.module p {
        font-size: 20px;
    }
    section.module.parallax h1 {
        font-size: 96px;
    }
}
@media all and (min-width: 960px) {
    section.module.parallax h1 {
        font-size: 160px;
    }
}
*/

