@import "_variables";
@import "_mixins";
@import "_preview";
@import "_navbar";

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


body {
  font: $font-size-reg $font-stack;
  color: $font-color-primary;
  //overflow-y: hidden;
  height:100%;
}

.mx-auto {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mx-auto-noblock {
  margin-left: auto;
  margin-right: auto;
}

.container {
  /*background-color: #fff;*/
  width: $jumbo-width;
  padding: 0;
  margin-bottom: 2em;
}

.row {
  width: 100%;//$main_width;
  text-align: justify;
  &:first-child {
    margin-left: 0px;
    padding-left: 0px;
  }
  &:last-child {
    margin-right: 0px;
    padding-right: 0px;
  }
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary, .open>.dropdown-toggle.btn-primary {
  margin-top: 2em;
  border: 2px solid $orange;
  background-color: #fff;
  color: $orange;
  &:hover {
    background-color: $orange;
    border: 2px solid #fff;
    color: #fff;
  }
}

/* slider */
#slides_control > div{
  height: 200px;
}
img{
  margin:auto;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
  margin-left:-200px;
}

p > button {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
  width: 50%;
}

.sidebar {
  background-color: $grey-primary;
  h1 {
    font-weight: 700;
    margin-bottom: 1em;
  }
}


.hero-unit {
    margin: 50px auto 0 auto;
    width: 500px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #fafafa;
    border-radius: 6px;
    padding: 60px;
    text-align:center;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.txtblock {
  font-size:1em;
  font-family:RalewayR;
  text-align:center;
}

.footer {
  background-color: darken(#fff,60%);
}

svg {
  /*max-width: 95%;
  max-height: 95%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;*/
  path {
    fill-opacity: 1;
    //stroke: #000;
    stroke-width: 0.25;
    stroke-dasharray: 217;
    stroke-dashoffset: 0;
    animation: draw 3s infinite linear;
    -webkit-animation: draw 3s linear;
  }
}

@keyframes draw {
  0% {
    stroke-dashoffset: 217;
    stroke-width: 1;
    fill-opacity: 0;
  }
  80% {
    stroke-dashoffset: 0;
    stroke-width: 1;
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-width: 0.25;
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes draw {
  0% {
    stroke-dashoffset: 217;
    stroke-width: 1;
    fill-opacity: 0;
  }
  80% {
    stroke-dashoffset: 0;
    stroke-width: 1;
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-width: 0.25;
    stroke-dashoffset: 0;
  }
}
