/*
Error: Invalid CSS after "  border: 0px": expected "{", was ";"
        on line 5 of app/styles/scss/_navbar.scss
        from line 4 of app/styles/scss/main.scss

1: .navbar{
2:   width: $navbar-width;
3:   border-radius: 0px;
4: <<<<<<< HEAD
5:   border: 0px;
6: /*  background-color: lighten(#f8f8f8, 50%);*\/
7:   background: rgba(0,0,0,0);
8:   background-color: none;
9: =======
10:   border: none;

Backtrace:
app/styles/scss/_navbar.scss:5
app/styles/scss/main.scss:4
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:1167:in `expected'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:1096:in `tok!'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:641:in `block'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:712:in `declaration_or_ruleset'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:636:in `ruleset'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:650:in `block_contents'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/engine.rb:299:in `to_tree'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/stack.rb:88:in `block in with_import'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:407:in `run'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:63:in `process_result'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/exec/base.rb:52:in `parse'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/lib/sass/exec/base.rb:19:in `parse!'
E:/Software/Heroku/ruby-1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.13/bin/sass:13:in `<top (required)>'
E:/Software/Heroku/ruby-1.9.3/bin/sass:23:in `load'
E:/Software/Heroku/ruby-1.9.3/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  border: 0px\": expected \"{\", was \";\"\A         on line 5 of app/styles/scss/_navbar.scss\A         from line 4 of app/styles/scss/main.scss\A \A 1: .navbar{\A 2:   width: $navbar-width;\A 3:   border-radius: 0px;\A 4: <<<<<<< HEAD\A 5:   border: 0px;\A 6: /*  background-color: lighten(#f8f8f8, 50%);*/\A 7:   background: rgba(0,0,0,0);\A 8:   background-color: none;\A 9: =======\A 10:   border: none;"; }
