@import "_variables";
@import "_mixins";
@import "_preview";
@import "_navbar";

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


body {
  font: $font-size-reg $font-stack;
  color: $font-color-primary;
  //overflow-y: hidden;
  height:100%;
}

.mx-auto {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mx-auto-noblock {
  margin-left: auto;
  margin-right: auto;
}

.container {
  /*background-color: #fff;*/
  width: $jumbo-width;
  padding: 0;
  margin-bottom: 2em;
}

.row {
  width: 100%;//$main_width;
  text-align: justify;
  &:first-child {
    margin-left: 0px;
    padding-left: 0px;
  }
  &:last-child {
    margin-right: 0px;
    padding-right: 0px;
  }
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary, .open>.dropdown-toggle.btn-primary {
  margin-top: 2em;
  border: 2px solid $orange;
  background-color: #fff;
  color: $orange;
  &:hover {
    background-color: $orange;
    border: 2px solid #fff;
    color: #fff;
  }
}

/* slider */
#slides_control > div{
  height: 200px;
}
img{
  margin:auto;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
  margin-left:-200px;
}

p > button {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
  width: 50%;
}

.sidebar {
  background-color: $grey-primary;
  h1 {
    font-weight: 700;
    margin-bottom: 1em;
  }
}

