@import "_variables";
@import "_mixins";
@import "_preview";
@import "_navbar";

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html         { overflow:hidden; }

body {
  font: $font-size-reg $font-stack;
  color: $font-color-primary;
  //overflow-y: hidden;
  height:100%;
}


.container        {
	width:100%;
  /**/
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: -1;
  /**/
  padding: 0;
  margin-bottom: 2em;
}




@include previews(200px,75%);

.mx-auto {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mx-auto-noblock {
  margin-left: auto;
  margin-right: auto;
}

.row {
  width: 100%;//$main_width;
  text-align: justify;
  &:first-child {
    margin-left: 0px;
    padding-left: 0px;
  }
  &:last-child {
    margin-right: 0px;
    padding-right: 0px;
  }
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary, .open>.dropdown-toggle.btn-primary {
  margin-top: 2em;
  border: 2px solid $orange;
  background-color: #fff;
  color: $orange;
  &:hover {
    background-color: $orange;
    border: 2px solid #fff;
    color: #fff;
  }
}

/* slider */
#slides_control > div{
  height: 300px;
}
img{
  margin:auto;
  -webkit-filter: blur(2px) grayscale(0.3);
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
  margin-left:-200px;
}

p > button {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
  width: 50%;
}

.sidebar {
  background-color: $grey-primary;
  h1 {
    font-weight: 700;
    margin-bottom: 1em;
  }
}


.hero-unit {
    margin: 50px auto 0 auto;
    width: 500px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #fafafa;
    border-radius: 6px;
    padding: 60px;
    text-align:center;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.txtblock {
  font-size: 1.2em;
  font-weight: 300;
  font-family: RalewayR;
  text-align: center;
  margin-top: 1em;
}

.footer {
  background-color: darken(#fff,60%);
}

svg {
  /*max-width: 95%;
  max-height: 95%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;*/
  path {
    fill-opacity: 1;
    //stroke: #000;
    stroke-width: 0.25;
    stroke-dasharray: 217;
    stroke-dashoffset: 0;
    animation: draw 3s infinite linear;
    -webkit-animation: draw 3s linear;
  }
}

@keyframes draw {
  0% {
    stroke-dashoffset: 217;
    stroke-width: 1;
    fill-opacity: 0;
  }
  80% {
    stroke-dashoffset: 0;
    stroke-width: 1;
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-width: 0.25;
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes draw {
  0% {
    stroke-dashoffset: 217;
    stroke-width: 1;
    fill-opacity: 0;
  }
  80% {
    stroke-dashoffset: 0;
    stroke-width: 1;
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-width: 0.25;
    stroke-dashoffset: 0;
  }
}



/* ANIMATIONS
============================================================================= */

.page.ng-leave 	{ z-index:9999; }
.page.ng-enter 	{ z-index:8888; }

/* page specific animations ------------------------ */

/* home -------------------------- */
.page-home.ng-leave         {
  -webkit-animation:moveToLeftFade 0.5s both ease-in;
  -moz-animation:moveToLeftFade 0.5s both ease-in;
  animation:moveToLeftFade 0.5s both ease-in;
}
.page-home.ng-enter 		{
  -webkit-animation:moveFromRightFade 0.5s both ease-in;
-moz-animation:moveFromRightFade 0.5s both ease-in;
animation:moveFromRightFade 0.5s both ease-in;
}

/* page-todo ------------------------ */
.page-todo.ng-leave        {
    -webkit-animation:moveToLeftFade 0.5s both ease-in;
	-moz-animation:moveToLeftFade 0.5s both ease-in;
	animation:moveToLeftFade 0.5s both ease-in;
}
.page-todo.ng-enter 		{
    -webkit-animation:moveFromRightFade 0.5s both ease-in;
	-moz-animation:moveFromRightFade 0.5s both ease-in;
	animation:moveFromRightFade 0.5s both ease-in;
}


.page-404.ng-leave         {
  -webkit-animation:moveToLeftFade 0.5s both ease-in;
  -moz-animation:moveToLeftFade 0.5s both ease-in;
  animation:moveToLeftFade 0.5s both ease-in;
}
.page-404.ng-enter 		{
  -webkit-animation:moveFromRightFade 0.5s both ease-in;
-moz-animation:moveFromRightFade 0.5s both ease-in;
animation:moveFromRightFade 0.5s both ease-in;
}


.page-search.ng-leave         {
  -webkit-animation:moveToLeftFade 0.5s both ease-in;
  -moz-animation:moveToLeftFade 0.5s both ease-in;
  animation:moveToLeftFade 0.5s both ease-in;
}
.page-search.ng-enter 		{
  -webkit-animation:moveFromRightFade 0.5s both ease-in;
-moz-animation:moveFromRightFade 0.5s both ease-in;
animation:moveFromRightFade 0.5s both ease-in;
}

.page-test.ng-leave         {
  -webkit-animation:moveToLeftFade 0.5s both ease-in;
  -moz-animation:moveToLeftFade 0.5s both ease-in;
  animation:moveToLeftFade 0.5s both ease-in;
}
.page-test.ng-enter 		{
  -webkit-animation:moveFromRightFade 0.5s both ease-in;
-moz-animation:moveFromRightFade 0.5s both ease-in;
animation:moveFromRightFade 0.5s both ease-in;
}


/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}


// move and fade

@-webkit-keyframes moveToLeftFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeftFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeftFade {
	from { opacity: 0.3; -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeftFade {
	from { opacity: 0.3; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRightFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateX(100%); }
}
@keyframes moveToRightFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRightFade {
	from { opacity: 0.3; -webkit-transform: translateX(100%); }
}
@keyframes moveFromRightFade {
	from { opacity: 0.3; -webkit-transform: translateX(100%); transform: translateX(100%); }
}
