@import "_variables";
@import "_mixins";
@import "_preview";
@import "_navbar";
@import "_tooltip";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);


*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
  font: $font-size-reg 'Lato'; //$font-stack
  color: $font-color-primary;
  height:100%;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
}

b, strong {
    font-weight: 400;
}


@include previews(200px,75%);

.mx-auto {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mx-auto-noblock {
  margin-left: auto;
  margin-right: auto;
}

.row {
  width: 100%;//$main_width;
  text-align: justify;
  &:first-child {
   // margin-left: 0;
    padding-left: 0;
  }
  &:last-child {
   // margin-right: 0;
    padding-right: 0;
  }
}

.btn-custom.active, .btn-custom.focus, .btn-custom:active, .btn-custom:focus, .btn-custom, .open>.dropdown-toggle.btn-custom {
//  margin-top: 2em;
  //border: 2px solid $orange;
    border: none;
  background-color: #fff;
  color: $orange;
  text-decoration: none;
  &:hover {
    background-color: $orange;
  //  border: 2px solid #fff;
      border: none;
    color: #fff;
    text-decoration: none;
  }
}

.btn-primary {
    background-color: $green;
    color: #fff;
    border: none;
    padding:0.33em 1em;
}

.btn-primary:disabled {
    background-color: lighten($green, 20%);
    color: #fafafa;
}

.btn-primary:hover {
    background-color: darken($green, 10%);
}

.form-auth-custom {
    outline:none;
    border:none;
    margin-top: 0.75em;
    font-size: 1.33em;
    border-bottom: 2px solid rgb(210, 215, 211);
    border-radius:0;
    background-color: transparent;
}

form {
    label {
        font-family: ProximaNova, sans-serif;
    }
}

input[type='text'].form-control {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* slider */
#slides_control > div{
  height: 300px;
}
img{
  margin:auto;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
  margin-left:-200px;
}

p > button {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
  width: 50%;
}

.sidebar {
  background-color: $grey-primary;
  h1 {
    font-weight: 700;
    margin-bottom: 1em;
  }
}

.txtblock {
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  margin-top: 1em;
}

.col-md-4 {
    -webkit-user-select: none;
    cursor: default;
    transition: 0.33s ease-in-out;
}

.col-md-4:hover {
   transform: scale(1.1,1.1);
}

svg {
  path {
    fill-opacity: 1;
    stroke-width: 0.25;
    stroke-dasharray: 217;
    stroke-dashoffset: 0;
    animation: draw 3s infinite linear;
    -webkit-animation: draw 3s linear;
  }
}

.circular {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.show-notification {
    border-radius: 0.33em;
    padding: 1em;
    background-color: #c12e2a;
    color: #fff;
    -webkit-animation-name: thumb;
    -webkit-animation-duration: 200ms;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes thumb {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(0.95); }
    100% { -webkit-transform: scale(1); }
}

input.form-control {
    box-shadow: none;
}
.form-control:focus{
    border: none;
    box-shadow: none;
}

section.module:last-child {
    margin-bottom: 0;
}
section.module h2 {
    margin-bottom: 40px;
}
section.module p {
    margin-bottom: 40px;
}
section.module p:last-child {
    margin-bottom: 0;
}
section.module.content {
    padding: 40px 0;
}
section.module.parallax {
    height: 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
section.module.parallax h1 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    //text-transform: uppercase;
}
section.module.parallax-1 {
    background-image: url("http://skillcrush.com/wp-content/uploads/2014/07/coworking-space.jpg");
}

section.module.parallax-2 {
    //height: 300px;
    background-image: url("http://media.tumblr.com/tumblr_mddrbbNjkm1rza399.jpg");
}
/*
section.module.parallax-3 {
    background-image: url("../img/demo/_small/3.jpg");
}
@media all and (min-width: 600px) {
    section.module h2 {
        font-size: 42px;
    }
    section.module p {
        font-size: 20px;
    }
    section.module.parallax h1 {
        font-size: 96px;
    }
}
@media all and (min-width: 960px) {
    section.module.parallax h1 {
        font-size: 160px;
    }
}
*/
